._title {
  width: 210px;
}

.customCheckBox {
  text-align: right;
  padding-right: 22px;
  padding-top: 5px;
}

.notDisplayed {
  display: none;
}

.cbx {
  -webkit-perspective: 20;
  perspective: 20;
  position: absolute;
  border: 1px solid #e8e8eb;
  background: #e8e8eb;
  border-radius: 3px;
  transform: translate3d(0, 0, 0);
  cursor: pointer;
  transition: all 0.3s ease;
}
.cbx:hover {
  border-color: indianred;
}
.flip {
  display: block;
  transition: all 0.4s ease;
  transform-style: preserve-3d;
  position: relative;
  width: 18px;
  height: 18px;
}
.cbx-checked {
  border-color: indianred;
}
.cbx-flip-checked {
  transform: rotateY(180deg);
}
.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  border-radius: 1px;
}
.front {
  background: #fff;
  z-index: 1;
}
.back {
  transform: rotateY(180deg);
  background: indianred;
  text-align: center;
  color: #fff;
  line-height: 18px;
  box-shadow: 0 0 0 1px indianred;
}
.back svg {
  margin-top: 2px;
  fill: none;
}
.back svg path {
  stroke: #fff;
  stroke-width: 2.5;
  stroke-linecap: round;
  stroke-linejoin: round;
}
